::deep input {
    margin-bottom: 1rem;
}

    ::deep input.cocktail-name {
        font-size: larger;
    }

    ::deep input.modified.valid {
         outline: none;
    }

::deep input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

::deep input:focus {
    outline: none;
}

::deep .container-with-validation-message {
    display: flex;
    align-items: center;
}

    ::deep .container-with-validation-message > h5 {
        margin: 0;
        padding: 0;
    }

    ::deep .container-with-validation-message > .validation-message {
        margin-left: 0.5rem;
    }