@page "/allcocktails"
@using CocktailsIdeas.Shared
@inject HttpClient httpClient
@inject IJSRuntime JSRuntime

@if (cocktails == null)
{
    <div class="cocktails-loading">
        Loading cocktails...
    </div>
}
else
{
    <div class="cocktails-grid">
        @foreach (var cocktail in cocktails)
        {
            <div class="cocktail-item">
                <div class="cocktail-item-content">
                    <div class="cocktail-item-title">
                        <h3>@cocktail.Name</h3>
                    </div>
                    <div class="cocktail-item-desc">
                        @if (cocktail.Ingredients?.Any() != true)
                        {
                            <text>(no ingredients)</text>
                        }
                        else
                        {
                            <!--<h5>Ingredients</h5>-->
                            <ul>
                                @foreach (var ingredient in cocktail.Ingredients)
                                {
                                    <li>@ingredient</li>
                                }
                            </ul>
                        }
                    </div>
                    @*@if (cocktail.Steps?.Any() != true)
                        {
                            <h5>(no steps)</h5>
                        }
                        else
                        {
                            <h5>Steps</h5>
                            <ol>
                                @foreach (var step in cocktail.Steps)
                                {
                                    <li>@step</li>
                                }
                            </ol>
                        }*@
                </div>
            </div>
        }
    </div>
}

@code {
    // todo: consider virtualization, see: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-5.0
    List<Cocktail> cocktails;

    protected override async Task OnInitializedAsync()
    {
        cocktails = await httpClient.GetFromJsonAsync<List<Cocktail>>("cocktails");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("dynamicRowSpan.initialize");
    }
}
