@page "/allcocktails"
@using CocktailsIdeas.Shared
@inject HttpClient httpClient
@inject IJSRuntime JSRuntime

@if (cocktails == null)
{
    <div class="cocktails-loading">
        Loading cocktails...
    </div>
}
else
{
    <div class="cocktails-grid">
        @foreach (var cocktail in cocktails)
        {
            <CocktailCard Cocktail="cocktail" />
        }
    </div>
}

@code {
    // todo: consider virtualization, see: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-5.0
    List<Cocktail> cocktails;

    protected override async Task OnInitializedAsync()
    {
        cocktails = await httpClient.GetFromJsonAsync<List<Cocktail>>("cocktails");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("dynamicRowSpan.initialize");
    }
}
